// .section-specialty{
//     height: 400px;
//     background: #f5f5f5;
    
//     .slick-slide > div {
//         margin: 0 10px;
//       }

//     .section-container{
//         margin: 0 auto;
//         display: flex;
//         flex-direction: column;

//         .section-header{
//             // height: 60px;
//             margin-bottom: 30px;
//             padding-top: 30px;

//             .title-section{
//                 font-size: 22px;
//                 font-weight: 600;
//             }

//             .btn-section{
//                 float: right;
//                 padding: 10px 15px;
//                 border: none;
//                 outline: none;
//                 display: block;
//                 background: #ebebeb;
//                 color: black;
//                 cursor: pointer;
//                 text-transform: uppercase;

//                 &:hover{
//                     color: #fff;
//                     background: #f7d800;
//                 }
//             }
//         }

//         .section-body{
//             width: 70%;
//             margin: 0 auto;
//             .specialty-customize{
//                 // width: 300px !important;
//                 // margin: 0 10px;
//                 .bg-image{
//                     // border: 1px solid red;
//                     // width: 300px;
//                     height: 200px;
//                     // background: url('../../../assets/specialty/tim-mach.jpg');
//                     background-position: center center;
//                     background-repeat: no-repeat;
//                     background-size: cover;
//                     background-color: #eee;
//                 }
//             }
//         }
//     }

// }

.specialty-child{
    cursor: pointer;

    .specialty-name{
        padding: 10px 0;

        &:hover{
            color: #45c3d2;
        }
    }
}



