.slick-prev{
    left: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
    
    &:hover{
    background: #cac7c7 !important

    }
}

.slick-prev::before,
.slick-next::before{
    font-family: 'Glyphicons halflings' !important;
    color: red !important;
}

// .slick-prev::before{
//     content: "\e257" !important;
// }

.slick-next{
    right: -10px;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
    
    &:hover{
    background: #cac7c7 !important

    }
}

//section
.section-share {
    &.section-specialty{
        background: #f5f5f5;
    }


    //about
    &.section-about{
        height: 500px !important;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
    }

    .section-body{
        width: 70%;
        margin: 0 auto;
        .specialty-customize{
            // width: 300px !important;
            // margin: 0 10px;
            .bg-image{
                // border: 1px solid red;
                // width: 300px;
                height: 200px;
                background: url('../../assets/specialty/tim-mach.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;

                &.section-outstanding-doctor{
                    // background-image: url('../../assets/outstanding-doctor/bac-si.jpg');
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    margin: 0 auto;
                    
                }
            }
        }
    }
}

.slick-disabled{
    display: none !important;
}

.section-share{
    height: 400px;

    .slick-slide > div {
        margin: 0 10px;
      }

    .section-container{
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .section-header{
            // height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section{
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section{
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover{
                    color: #fff;
                    background: #f7d800;
                }
            }
        }

    }

}

.home-footer{
    text-align: center;
    padding-top: 8px;
    a{
        text-decoration: none;
    }
}

.section-about{
    padding: 0 100px;

    .section-about-header{
        padding: 20px 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .section-about-content{
        display: flex;
        gap: 15px;
        width: 100%;

        .content-left{
            width: 45%;
        }
        
        .content-right{
            width: 55%;
            p{
                text-align: justify;
                font-style: italic;
                font-size: 20px;
                padding: 15px;
            }
        }
    }
}